body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #2b2e3b;
    color: #d6d6d8;

    padding: 15px;

    text-align: center;

    margin-bottom: 70px;
}

td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#addProduct {
    display: flex;
    justify-content: center;

    color: #2b2e3b;
}

#mainTable {
    display: flex;
    justify-content: center; 

    margin: auto;
    table-layout: fixed;

    margin-top: 30px;

    border-radius: 10px;
    border: 4px solid rgb(223, 223, 223);

    width: 650px;
    height: 500px;
    background-color: white;
}

#productName {
    width: 315px;
    height: 140px;

    font-size: 40px;
    text-align: justify;
        
    color: #203074;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    resize: none;
    overflow: hidden;

    border: none;
}

.moneyUsed {
    white-space: nowrap;
    display: inline;
}

#productValue { 
    margin-left: 13px;
    width: 212px;

    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#productDisponibility {
    padding-top: 0px;
    width: 90px;
}

p, select {
    display: inline-block;
    margin: 0;
}

.cardImage {
    border-radius: 10px;
        
    padding: 15px;

    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;

    justify-content: center;
    object-fit: contain;
    width: auto;
    height: auto;

    background-color: #f4f4f4;
}

#productDescription {
    margin-bottom: 40px;

    width: 300px;
    height: 280px;

    resize: none;
    overflow: hidden;

    border: none;
}

#bottomTableElement textarea, #bottomTableElement button {
    margin: 0;
    padding: 0;
    display: block;
}

#bottomTableElement {
    text-align: center;
}

#bottomTableElement button {
    margin: 0;

    padding: 15px 30px;
    display: inline-block;

    border-radius: 10px;
    color: rgb(179, 179, 179);
    background-color: #3f61fa;
}

.buttons {

    display: flex;
    justify-content: left;

    gap: 45px;
}

.button {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    color: #717171;
}

footer {
    background: #2b2e3b;
    padding: 0.5rem;
    margin-bottom: 0px;

    color: #d6d6d8;

	font-size: 12px;

    margin-top: 30px;

	text-align: justify;

}

footer h2 {
    text-align: left;
}

footer p {
    font-size: 0.8rem;
}